<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3>Cadastro</h3>

  <form>
    <ion-item>
      <ion-label position="floating">Usuário:</ion-label>
      <ion-input type="text" name="usuario" [(ngModel)]='usuario'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" name="email" [(ngModel)]='email'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]='senha'></ion-input>
    </ion-item>

    <ion-button expand="full" fill="outline" (click)="cadastrar(usuario, email, senha)">Cadastrar Usuário</ion-button>
  </form>

</ion-content>

